<div class="row">
<div class="col-xs-12 col-md-6 col-md-offset-3" >
    <!-- Reactibe form approach -->
    <!-- <div class="alert alert-danger" *ngIf="error">
        <p>
            {{error}}
        </p>
    </div> -->

    <!-- (close) - this is the event coming from the alert component -->
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
     
    <!-- <ng-template appPlaceholder ></ng-template> -->
    <!-- Not render anything to the DOM but still accessible from the template  -->

    <div *ngIf="isLoading" style="text-align: center">
        <app-loading-spinner ></app-loading-spinner>
    </div>
    <form *ngIf="!isLoading">
        <div class="form-group" [formGroup]="signupForm">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" formControlName="email">

            <label for="password">Password</label>
            <input type="password" class="form-control"  formControlName="password">
        </div>

    <div>
    <button class="btn btn-primary" 
            type="submit" 
            (click)="onSubmit()"
            [disabled] ="!signupForm.valid">
            {{ isLogInMode ? 'Login' : 'Sign-up'}}
    </button> |

    <button class="btn btn-primary"
            (click)="onSwitchMode()"
            type="button">
            Switch to: {{ isLogInMode ? 'Sign-up' : 'Login'}}
    </button>
    
    </div>
</form>

</div>    
</div>







