<a 
style ="cursor: pointer;"
class="list-group-item clearfix"
[routerLink] ="[index]"
routerLinkActive ="active"


>
    <div class="pull-left">
        <h4><div class="list-group-item-heading">{{inputRecipe.name}}</div></h4>
        <p class="list-group-item-text">{{inputRecipe.description}}</p>
        </div>
        <span class="pull-right">
       
            <img 
        [src]="inputRecipe.imagePath"
        alt="{{inputRecipe.name}}" 
        class="img-responsive" 
        style="max-height: 50px;">
        </span>


</a>

<!-- [routerLink]="['/users', user.id, user.name]" -->


<!-- (click) = "recipeItemFunction()" -->
